In [195]:
import numpy as np
import pandas as pd

In [173]:
imdb_df=pd.read_csv('/content/IMDB top 1000.csv')
imdb_df

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
0,0,1. The Shawshank Redemption (1994),R,142 min,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"Director: Frank Darabont | Stars: Tim Robbins,...","Votes: 2,295,987 | Gross: $28.34M"
1,1,2. The Godfather (1972),R,175 min,"Crime, Drama",9.2,100.0,The aging patriarch of an organized crime dyna...,Director: Francis Ford Coppola | Stars: Marlon...,"Votes: 1,584,782 | Gross: $134.97M"
2,2,3. The Dark Knight (2008),PG-13,152 min,"Action, Crime, Drama",9.0,84.0,When the menace known as the Joker wreaks havo...,Director: Christopher Nolan | Stars: Christian...,"Votes: 2,260,649 | Gross: $534.86M"
3,3,4. The Godfather: Part II (1974),R,202 min,"Crime, Drama",9.0,90.0,The early life and career of Vito Corleone in ...,Director: Francis Ford Coppola | Stars: Al Pac...,"Votes: 1,107,253 | Gross: $57.30M"
4,4,5. The Lord of the Rings: The Return of the Ki...,PG-13,201 min,"Action, Adventure, Drama",8.9,94.0,Gandalf and Aragorn lead the World of Men agai...,"Director: Peter Jackson | Stars: Elijah Wood, ...","Votes: 1,614,369 | Gross: $377.85M"
...,...,...,...,...,...,...,...,...,...,...
995,995,398. Scent of a Woman (1992),R,156 min,Drama,8.0,NaN,A prep school student needing money agrees to ...,"Director: Martin Brest | Stars: Al Pacino, Chr...","Votes: 256,515 | Gross: $63.90M"
996,996,399. Aladdin (1992),G,90 min,"Animation, Adventure, Comedy",8.0,86.0,A kindhearted street urchin and a power-hungry...,"Directors: Ron Clements, John Musker | Stars: ...","Votes: 367,489 | Gross: $217.35M"
997,997,400. JFK (1991),R,189 min,"Drama, History, Thriller",8.0,72.0,New Orleans District Attorney Jim Garrison dis...,"Director: Oliver Stone | Stars: Kevin Costner,...","Votes: 139,634 | Gross: $70.41M"
998,998,301. Nights of Cabiria (1957),Not Rated,110 min,Drama,8.1,NaN,A waifish prostitute wanders the streets of Ro...,Director: Federico Fellini | Stars: Giulietta ...,"Votes: 42,160 | Gross: $0.75M"
999,999,302. Throne of Blood (1957),Not Rated,110 min,"Drama, History",8.1,NaN,"A war-hardened general, egged on by his ambiti...",Director: Akira Kurosawa | Stars: Toshir√¥ Mifu...,"Votes: 45,579"

In [131]:
#The transposed DataFrame.

imdb_df.T

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
Unnamed: 0,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
Title,1. The Shawshank Redemption (1994),2. The Godfather (1972),3. The Dark Knight (2008),4. The Godfather: Part II (1974),5. The Lord of the Rings: The Return of the Ki...,6. Pulp Fiction (1994),7. Schindler's List (1993),8. 12 Angry Men (1957),9. Inception (2010),10. Fight Club (1999),...,393. 12 Monkeys (1995),394. Ghost in the Shell (1995),395. The Nightmare Before Christmas (1993),396. Groundhog Day (1993),"397. Blood In, Blood Out (1993)",398. Scent of a Woman (1992),399. Aladdin (1992),400. JFK (1991),301. Nights of Cabiria (1957),302. Throne of Blood (1957)
Certificate,R,R,PG-13,R,PG-13,R,R,Approved,PG-13,R,...,R,TV-MA,PG,PG,R,R,G,R,Not Rated,Not Rated
Duration,142 min,175 min,152 min,202 min,201 min,154 min,195 min,96 min,148 min,139 min,...,129 min,83 min,76 min,101 min,180 min,156 min,90 min,189 min,110 min,110 min
Genre,Drama,"Crime, Drama","Action, Crime, Drama","Crime, Drama","Action, Adventure, Drama","Crime, Drama","Biography, Drama, History","Crime, Drama","Action, Adventure, Sci-Fi",Drama,...,"Mystery, Sci-Fi, Thriller","Animation, Action, Crime","Animation, Family, Fantasy","Comedy, Fantasy, Romance","Crime, Drama",Drama,"Animation, Adventure, Comedy","Drama, History, Thriller",Drama,"Drama, History"
Rate,9.3,9.2,9.0,9.0,8.9,8.9,8.9,8.9,8.8,8.8,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.1,8.1
Metascore,80.0,100.0,84.0,90.0,94.0,94.0,94.0,96.0,74.0,66.0,...,74.0,76.0,82.0,72.0,NaN,NaN,86.0,72.0,NaN,NaN
Description,Two imprisoned men bond over a number of years...,The aging patriarch of an organized crime dyna...,When the menace known as the Joker wreaks havo...,The early life and career of Vito Corleone in ...,Gandalf and Aragorn lead the World of Men agai...,"The lives of two mob hitmen, a boxer, a gangst...","In German-occupied Poland during World War II,...",A jury holdout attempts to prevent a miscarria...,A thief who steals corporate secrets through t...,An insomniac office worker and a devil-may-car...,...,"In a future world devastated by disease, a con...",A cyborg policewoman and her partner hunt a my...,"Jack Skellington, king of Halloween Town, disc...",A weatherman finds himself inexplicably living...,Based on the true life experiences of poet Jim...,A prep school student needing money agrees to ...,A kindhearted street urchin and a power-hungry...,New Orleans District Attorney Jim Garrison dis...,A waifish prostitute wanders the streets of Ro...,"A war-hardened general, egged on by his ambiti..."
Cast,"Director: Frank Darabont | Stars: Tim Robbins,...",Director: Francis Ford Coppola | Stars: Marlon...,Director: Christopher Nolan | Stars: Christian...,Director: Francis Ford Coppola | Stars: Al Pac...,"Director: Peter Jackson | Stars: Elijah Wood, ...",Director: Quentin Tarantino | Stars: John Trav...,Director: Steven Spielberg | Stars: Liam Neeso...,"Director: Sidney Lumet | Stars: Henry Fonda, L...",Director: Christopher Nolan | Stars: Leonardo ...,"Director: David Fincher | Stars: Brad Pitt, Ed...",...,"Director: Terry Gilliam | Stars: Bruce Willis,...","Director: Mamoru Oshii | Stars: Atsuko Tanaka,...","Director: Henry Selick | Stars: Danny Elfman, ...","Director: Harold Ramis | Stars: Bill Murray, A...",Director: Taylor Hackford | Stars: Damian Chap...,"Director: Martin Brest | Stars: Al Pacino, Chr...","Directors: Ron Clements, John Musker | Stars: ...","Director: Oliver Stone | Stars: Kevin Costner,...",Director: Federico Fellini | Stars: Giulietta ...,Director: Akira Kurosawa | Stars: Toshir√¥ Mifu...
Info,"Votes: 2,295,987 | Gross: $28.34M","Votes: 1,584,782 | Gross: $134.97M","Votes: 2,260,649 | Gross: $534.86M","Votes: 1,107,253 | Gross: $57.30M","Votes: 1,614,369 | Gross: $377.85M","Votes: 1,792,919 | Gross: $107.93M","Votes: 1,191,793 | Gross: $96.90M","Votes: 674,629 | Gross: $4.36M","Votes: 2,022,655 | Gross: $292.58M","Votes: 1,820,268 | Gross: $37.03M",...,"Votes: 571,158 | Gross: $57.14M","Votes: 126,538 | Gross: $0.52M","Votes: 288,364 | Gross: $75.08M","Votes: 571,642 | Gross: $70.91M","Votes: 28,464 | Gross: $4.50M","Votes: 256,515 | Gross: $63.90M","Votes: 367,489 | Gross: $217.35M","Votes: 139,634 | Gross: $70.41M","Votes: 42,160 | Gross: $0.75M","Votes: 45,579"

In [132]:
imdb_df.shape

(1000, 10)

In [133]:
imdb_df.columns

Index(['Unnamed: 0', 'Title', 'Certificate', 'Duration', 'Genre', 'Rate',
       'Metascore', 'Description', 'Cast', 'Info'],
      dtype='object')

In [134]:
imdb_df.dtypes

Unnamed: 0       int64
Title           object
Certificate     object
Duration        object
Genre           object
Rate           float64
Metascore      float64
Description     object
Cast            object
Info            object
dtype: object

In [135]:
imdb_df.info

<bound method DataFrame.info of      Unnamed: 0                                              Title  \
0             0                 1. The Shawshank Redemption (1994)
1             1                            2. The Godfather (1972)
2             2                          3. The Dark Knight (2008)
3             3                   4. The Godfather: Part II (1974)
4             4  5. The Lord of the Rings: The Return of the Ki...
..          ...                                                ...
995         995                       398. Scent of a Woman (1992)
996         996                                399. Aladdin (1992)
997         997                                    400. JFK (1991)
998         998                      301. Nights of Cabiria (1957)
999         999                        302. Throne of Blood (1957)

    Certificate Duration                         Genre  Rate  Metascore  \
0             R  142 min                         Drama   9.3       80.0
1             R  175 min                  Crime, Drama   9.2      100.0
2         PG-13  152 min          Action, Crime, Drama   9.0       84.0
3             R  202 min                  Crime, Drama   9.0       90.0
4         PG-13  201 min      Action, Adventure, Drama   8.9       94.0
..          ...      ...                           ...   ...        ...
995           R  156 min                         Drama   8.0        NaN
996           G   90 min  Animation, Adventure, Comedy   8.0       86.0
997           R  189 min      Drama, History, Thriller   8.0       72.0
998   Not Rated  110 min                         Drama   8.1        NaN
999   Not Rated  110 min                Drama, History   8.1        NaN

                                           Description  \
0    Two imprisoned men bond over a number of years...
1    The aging patriarch of an organized crime dyna...
2    When the menace known as the Joker wreaks havo...
3    The early life and career of Vito Corleone in ...
4    Gandalf and Aragorn lead the World of Men agai...
..                                                 ...
995  A prep school student needing money agrees to ...
996  A kindhearted street urchin and a power-hungry...
997  New Orleans District Attorney Jim Garrison dis...
998  A waifish prostitute wanders the streets of Ro...
999  A war-hardened general, egged on by his ambiti...

                                                  Cast  \
0    Director: Frank Darabont | Stars: Tim Robbins,...
1    Director: Francis Ford Coppola | Stars: Marlon...
2    Director: Christopher Nolan | Stars: Christian...
3    Director: Francis Ford Coppola | Stars: Al Pac...
4    Director: Peter Jackson | Stars: Elijah Wood, ...
..                                                 ...
995  Director: Martin Brest | Stars: Al Pacino, Chr...
996  Directors: Ron Clements, John Musker | Stars: ...
997  Director: Oliver Stone | Stars: Kevin Costner,...
998  Director: Federico Fellini | Stars: Giulietta ...
999  Director: Akira Kurosawa | Stars: Toshir√¥ Mifu...

                                   Info
0     Votes: 2,295,987 | Gross: $28.34M
1    Votes: 1,584,782 | Gross: $134.97M
2    Votes: 2,260,649 | Gross: $534.86M
3     Votes: 1,107,253 | Gross: $57.30M
4    Votes: 1,614,369 | Gross: $377.85M
..                                  ...
995     Votes: 256,515 | Gross: $63.90M
996    Votes: 367,489 | Gross: $217.35M
997     Votes: 139,634 | Gross: $70.41M
998       Votes: 42,160 | Gross: $0.75M
999                       Votes: 45,579

[1000 rows x 10 columns]>

In [136]:
#DataFrame.select_dtypes-Return a subset of the DataFrame‚Äôs columns based on the column dtypes.

imdb_df.select_dtypes(include=None,exclude=int)
imdb_df.select_dtypes(include=float,exclude=None)

     Rate  Metascore
0     9.3       80.0
1     9.2      100.0
2     9.0       84.0
3     9.0       90.0
4     8.9       94.0
..    ...        ...
995   8.0        NaN
996   8.0       86.0
997   8.0       72.0
998   8.1        NaN
999   8.1        NaN

[1000 rows x 2 columns]

In [137]:
#df.Values-Return a Numpy representation of the DataFrame.

imdb_df.values

array([[0, '1. The Shawshank Redemption (1994)', 'R', ...,
        'Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.',
        'Director: Frank Darabont | Stars: Tim Robbins, Morgan Freeman, Bob Gunton, William Sadler',
        'Votes: 2,295,987 | Gross: $28.34M'],
       [1, '2. The Godfather (1972)', 'R', ...,
        'The aging patriarch of an organized crime dynasty transfers control of his clandestine empire to his reluctant son.',
        'Director: Francis Ford Coppola | Stars: Marlon Brando, Al Pacino, James Caan, Diane Keaton',
        'Votes: 1,584,782 | Gross: $134.97M'],
       [2, '3. The Dark Knight (2008)', 'PG-13', ...,
        'When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.',
        'Director: Christopher Nolan | Stars: Christian Bale, Heath Ledger, Aaron Eckhart, Michael Caine',
        'Votes: 2,260,649 | Gross: $534.86M'],
       ...,
       [997, '400. JFK (1991)', 'R', ...,
        "New Orleans District Attorney Jim Garrison discovers there's more to the Kennedy assassination than the official story.",
        'Director: Oliver Stone | Stars: Kevin Costner, Gary Oldman, Jack Lemmon, Walter Matthau',
        'Votes: 139,634 | Gross: $70.41M'],
       [998, '301. Nights of Cabiria (1957)', 'Not Rated', ...,
        'A waifish prostitute wanders the streets of Rome looking for true love but finds only heartbreak.',
        'Director: Federico Fellini | Stars: Giulietta Masina, Fran√ßois P√©rier, Franca Marzi, Dorian Gray',
        'Votes: 42,160 | Gross: $0.75M'],
       [999, '302. Throne of Blood (1957)', 'Not Rated', ...,
        "A war-hardened general, egged on by his ambitious wife, works to fulfill a prophecy that he would become lord of Spider's Web Castle.",
        'Director: Akira Kurosawa | Stars: Toshir√¥ Mifune, Minoru Chiaki, Isuzu Yamada, Takashi Shimura',
        'Votes: 45,579']], dtype=object)

In [138]:
#pandas.DataFrame.axes---It has the row axis labels and column axis labels as the only members. They are returned in that order.

imdb_df.axes

[RangeIndex(start=0, stop=1000, step=1),
 Index(['Unnamed: 0', 'Title', 'Certificate', 'Duration', 'Genre', 'Rate',
        'Metascore', 'Description', 'Cast', 'Info'],
       dtype='object')]

In [139]:
#pandas.DataFrame.ndim----Return an int representing the number of axes / array dimensions.

#Return 1 if Series. Otherwise return 2 if DataFrame.


imdb_df.ndim

2

In [140]:
#DataFrame.size----Return an int representing the number of elements in this object.

##Return the number of rows if Series. Otherwise return the number of rows times number of columns if DataFrame.
imdb_df.size

10000

In [141]:
#pandas.DataFrame.shape
#Return a tuple representing the dimensionality of the DataFrame.
imdb_df.shape

(1000, 10)

In [142]:
'''pandas.DataFrame.memory_usage
DataFrame.memory_usage(index=True, deep=False)[source]
The memory usage can optionally include the contribution of the index and elements of object dtype.'''
imdb_df.memory_usage()

Index           128
Unnamed: 0     8000
Title          8000
Certificate    8000
Duration       8000
Genre          8000
Rate           8000
Metascore      8000
Description    8000
Cast           8000
Info           8000
dtype: int64

In [143]:
'''pandas.DataFrame.empty
Indicator whether Series/DataFrame is empty.

True if Series/DataFrame is entirely empty (no items), meaning any of the axes are of length 0.

Returns  bool
If Series/DataFrame is empty, return True, if not return False.'''


imdb_df.empty

False

**pandas.DataFrame.set_flags**
DataFrame.set_flags(*, copy=False, allows_duplicate_labels=None)
-Return a new object with updated flags.

Parameters
copy:bool, default False
-Specify if a copy of the object should be made.

allows_duplicate_labels: bool, optional
Whether the returned object allows duplicate labels.
Returns:
Series or DataFrame

In [144]:
imdb_df.flags.allows_duplicate_labels

True

In [145]:
'''pandas.DataFrame.astype
DataFrame.astype(dtype, copy=None, errors='raise')[source]
Cast a pandas object to a specified dtype dtype.'''

imdb_df.astype({'Rate':'int32'}).dtypes

Unnamed: 0       int64
Title           object
Certificate     object
Duration        object
Genre           object
Rate             int32
Metascore      float64
Description     object
Cast            object
Info            object
dtype: object

In [146]:
#pandas.DataFrame.convert_dtypes--Convert columns to the best possible dtypes using dtypes supporting pd.NA

imdb_df.convert_dtypes()
imdb_df.dtypes

Unnamed: 0       int64
Title           object
Certificate     object
Duration        object
Genre           object
Rate           float64
Metascore      float64
Description     object
Cast            object
Info            object
dtype: object

**pandas.DataFrame**.**infer_objects**
DataFrame.infer_objects(copy=None)
Attempt to infer better dtypes for object columns.

Attempts soft conversion of object-dtyped columns, leaving non-object and unconvertible columns unchanged. The inference rules are the same as during normal Series/DataFrame construction.

In [147]:
imdb_df.infer_objects()

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
0,0,1. The Shawshank Redemption (1994),R,142 min,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"Director: Frank Darabont | Stars: Tim Robbins,...","Votes: 2,295,987 | Gross: $28.34M"
1,1,2. The Godfather (1972),R,175 min,"Crime, Drama",9.2,100.0,The aging patriarch of an organized crime dyna...,Director: Francis Ford Coppola | Stars: Marlon...,"Votes: 1,584,782 | Gross: $134.97M"
2,2,3. The Dark Knight (2008),PG-13,152 min,"Action, Crime, Drama",9.0,84.0,When the menace known as the Joker wreaks havo...,Director: Christopher Nolan | Stars: Christian...,"Votes: 2,260,649 | Gross: $534.86M"
3,3,4. The Godfather: Part II (1974),R,202 min,"Crime, Drama",9.0,90.0,The early life and career of Vito Corleone in ...,Director: Francis Ford Coppola | Stars: Al Pac...,"Votes: 1,107,253 | Gross: $57.30M"
4,4,5. The Lord of the Rings: The Return of the Ki...,PG-13,201 min,"Action, Adventure, Drama",8.9,94.0,Gandalf and Aragorn lead the World of Men agai...,"Director: Peter Jackson | Stars: Elijah Wood, ...","Votes: 1,614,369 | Gross: $377.85M"
...,...,...,...,...,...,...,...,...,...,...
995,995,398. Scent of a Woman (1992),R,156 min,Drama,8.0,NaN,A prep school student needing money agrees to ...,"Director: Martin Brest | Stars: Al Pacino, Chr...","Votes: 256,515 | Gross: $63.90M"
996,996,399. Aladdin (1992),G,90 min,"Animation, Adventure, Comedy",8.0,86.0,A kindhearted street urchin and a power-hungry...,"Directors: Ron Clements, John Musker | Stars: ...","Votes: 367,489 | Gross: $217.35M"
997,997,400. JFK (1991),R,189 min,"Drama, History, Thriller",8.0,72.0,New Orleans District Attorney Jim Garrison dis...,"Director: Oliver Stone | Stars: Kevin Costner,...","Votes: 139,634 | Gross: $70.41M"
998,998,301. Nights of Cabiria (1957),Not Rated,110 min,Drama,8.1,NaN,A waifish prostitute wanders the streets of Ro...,Director: Federico Fellini | Stars: Giulietta ...,"Votes: 42,160 | Gross: $0.75M"
999,999,302. Throne of Blood (1957),Not Rated,110 min,"Drama, History",8.1,NaN,"A war-hardened general, egged on by his ambiti...",Director: Akira Kurosawa | Stars: Toshir√¥ Mifu...,"Votes: 45,579"

In [148]:
imdb_df.copy(deep=True)    #Make a copy of this object‚Äôs indices and data.

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
0,0,1. The Shawshank Redemption (1994),R,142 min,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"Director: Frank Darabont | Stars: Tim Robbins,...","Votes: 2,295,987 | Gross: $28.34M"
1,1,2. The Godfather (1972),R,175 min,"Crime, Drama",9.2,100.0,The aging patriarch of an organized crime dyna...,Director: Francis Ford Coppola | Stars: Marlon...,"Votes: 1,584,782 | Gross: $134.97M"
2,2,3. The Dark Knight (2008),PG-13,152 min,"Action, Crime, Drama",9.0,84.0,When the menace known as the Joker wreaks havo...,Director: Christopher Nolan | Stars: Christian...,"Votes: 2,260,649 | Gross: $534.86M"
3,3,4. The Godfather: Part II (1974),R,202 min,"Crime, Drama",9.0,90.0,The early life and career of Vito Corleone in ...,Director: Francis Ford Coppola | Stars: Al Pac...,"Votes: 1,107,253 | Gross: $57.30M"
4,4,5. The Lord of the Rings: The Return of the Ki...,PG-13,201 min,"Action, Adventure, Drama",8.9,94.0,Gandalf and Aragorn lead the World of Men agai...,"Director: Peter Jackson | Stars: Elijah Wood, ...","Votes: 1,614,369 | Gross: $377.85M"
...,...,...,...,...,...,...,...,...,...,...
995,995,398. Scent of a Woman (1992),R,156 min,Drama,8.0,NaN,A prep school student needing money agrees to ...,"Director: Martin Brest | Stars: Al Pacino, Chr...","Votes: 256,515 | Gross: $63.90M"
996,996,399. Aladdin (1992),G,90 min,"Animation, Adventure, Comedy",8.0,86.0,A kindhearted street urchin and a power-hungry...,"Directors: Ron Clements, John Musker | Stars: ...","Votes: 367,489 | Gross: $217.35M"
997,997,400. JFK (1991),R,189 min,"Drama, History, Thriller",8.0,72.0,New Orleans District Attorney Jim Garrison dis...,"Director: Oliver Stone | Stars: Kevin Costner,...","Votes: 139,634 | Gross: $70.41M"
998,998,301. Nights of Cabiria (1957),Not Rated,110 min,Drama,8.1,NaN,A waifish prostitute wanders the streets of Ro...,Director: Federico Fellini | Stars: Giulietta ...,"Votes: 42,160 | Gross: $0.75M"
999,999,302. Throne of Blood (1957),Not Rated,110 min,"Drama, History",8.1,NaN,"A war-hardened general, egged on by his ambiti...",Director: Akira Kurosawa | Stars: Toshir√¥ Mifu...,"Votes: 45,579"

In [149]:
'''DataFrame.at
Similar to loc, in that both provide label-based lookups. Use at if you only need to get or set a single value in a DataFrame or Series.'''


imdb_df.at[999,'Rate']

8.1

In [150]:
imdb_df.loc[999,'Rate']

8.1

In [151]:
#same as iloc
imdb_df.iat[1,2]

'R'

In [152]:
#DataFrame.iloc
imdb_df.iloc[1,2]

'R'

In [153]:
imdb_df.Metascore.mean()

81.00140449438203

In [154]:
imdb_df.isna()

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,True,False,False,False
996,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,True,False,False,False
999,False,False,False,False,False,False,True,False,False,False

In [155]:
imdb_df.isna().sum()

Unnamed: 0       0
Title            0
Certificate     27
Duration         0
Genre            0
Rate             0
Metascore      288
Description      0
Cast             0
Info             0
dtype: int64

In [156]:
imdb_df.isna().sum().sum()

315

In [157]:
imdb_df.Certificate.isna().sum()

27

In [158]:
#Filling missing values
imdb_df['Certificate'].fillna(imdb_df['Certificate'].value_counts().keys()[0])

imdb_df['Certificate'].isna().sum()

27

In [174]:
imdb_df

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
0,0,1. The Shawshank Redemption (1994),R,142 min,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"Director: Frank Darabont | Stars: Tim Robbins,...","Votes: 2,295,987 | Gross: $28.34M"
1,1,2. The Godfather (1972),R,175 min,"Crime, Drama",9.2,100.0,The aging patriarch of an organized crime dyna...,Director: Francis Ford Coppola | Stars: Marlon...,"Votes: 1,584,782 | Gross: $134.97M"
2,2,3. The Dark Knight (2008),PG-13,152 min,"Action, Crime, Drama",9.0,84.0,When the menace known as the Joker wreaks havo...,Director: Christopher Nolan | Stars: Christian...,"Votes: 2,260,649 | Gross: $534.86M"
3,3,4. The Godfather: Part II (1974),R,202 min,"Crime, Drama",9.0,90.0,The early life and career of Vito Corleone in ...,Director: Francis Ford Coppola | Stars: Al Pac...,"Votes: 1,107,253 | Gross: $57.30M"
4,4,5. The Lord of the Rings: The Return of the Ki...,PG-13,201 min,"Action, Adventure, Drama",8.9,94.0,Gandalf and Aragorn lead the World of Men agai...,"Director: Peter Jackson | Stars: Elijah Wood, ...","Votes: 1,614,369 | Gross: $377.85M"
...,...,...,...,...,...,...,...,...,...,...
995,995,398. Scent of a Woman (1992),R,156 min,Drama,8.0,NaN,A prep school student needing money agrees to ...,"Director: Martin Brest | Stars: Al Pacino, Chr...","Votes: 256,515 | Gross: $63.90M"
996,996,399. Aladdin (1992),G,90 min,"Animation, Adventure, Comedy",8.0,86.0,A kindhearted street urchin and a power-hungry...,"Directors: Ron Clements, John Musker | Stars: ...","Votes: 367,489 | Gross: $217.35M"
997,997,400. JFK (1991),R,189 min,"Drama, History, Thriller",8.0,72.0,New Orleans District Attorney Jim Garrison dis...,"Director: Oliver Stone | Stars: Kevin Costner,...","Votes: 139,634 | Gross: $70.41M"
998,998,301. Nights of Cabiria (1957),Not Rated,110 min,Drama,8.1,NaN,A waifish prostitute wanders the streets of Ro...,Director: Federico Fellini | Stars: Giulietta ...,"Votes: 42,160 | Gross: $0.75M"
999,999,302. Throne of Blood (1957),Not Rated,110 min,"Drama, History",8.1,NaN,"A war-hardened general, egged on by his ambiti...",Director: Akira Kurosawa | Stars: Toshir√¥ Mifu...,"Votes: 45,579"

# filling of missing **values**

In [175]:
# Calculate the mean of the "Metascore" column
metascore_mean = imdb_df['Metascore'].mean()

# Fill missing values with the mean
imdb_df['Metascore'].fillna(metascore_mean, inplace=True)

In [178]:
# Calculate the mode of the "Certificate" column
certificate_mode = imdb_df['Certificate'].mode()[0]

# Fill missing values with the mode
imdb_df['Certificate'].fillna(certificate_mode, inplace=True)

In [179]:
imdb_df.isna().sum()

Unnamed: 0     0
Title          0
Certificate    0
Duration       0
Genre          0
Rate           0
Metascore      0
Description    0
Cast           0
Info           0
dtype: int64

In [182]:
high_rated_movies = imdb_df[imdb_df['Rate'] > 9]
print(high_rated_movies[['Title', 'Rate']])

                                Title  Rate
0  1. The Shawshank Redemption (1994)   9.3
1             2. The Godfather (1972)   9.2

In [183]:
imdb_df["Cast"]

0      Director: Frank Darabont | Stars: Tim Robbins,...
1      Director: Francis Ford Coppola | Stars: Marlon...
2      Director: Christopher Nolan | Stars: Christian...
3      Director: Francis Ford Coppola | Stars: Al Pac...
4      Director: Peter Jackson | Stars: Elijah Wood, ...
                             ...
995    Director: Martin Brest | Stars: Al Pacino, Chr...
996    Directors: Ron Clements, John Musker | Stars: ...
997    Director: Oliver Stone | Stars: Kevin Costner,...
998    Director: Federico Fellini | Stars: Giulietta ...
999    Director: Akira Kurosawa | Stars: Toshir√¥ Mifu...
Name: Cast, Length: 1000, dtype: object

In [184]:
#filtering and Sorting

imdb_df[["Title","Genre","Cast"]]

,Title,Genre,Cast
0,1. The Shawshank Redemption (1994),Drama,"Director: Frank Darabont | Stars: Tim Robbins,..."
1,2. The Godfather (1972),"Crime, Drama",Director: Francis Ford Coppola | Stars: Marlon...
2,3. The Dark Knight (2008),"Action, Crime, Drama",Director: Christopher Nolan | Stars: Christian...
3,4. The Godfather: Part II (1974),"Crime, Drama",Director: Francis Ford Coppola | Stars: Al Pac...
4,5. The Lord of the Rings: The Return of the Ki...,"Action, Adventure, Drama","Director: Peter Jackson | Stars: Elijah Wood, ..."
...,...,...,...
995,398. Scent of a Woman (1992),Drama,"Director: Martin Brest | Stars: Al Pacino, Chr..."
996,399. Aladdin (1992),"Animation, Adventure, Comedy","Directors: Ron Clements, John Musker | Stars: ..."
997,400. JFK (1991),"Drama, History, Thriller","Director: Oliver Stone | Stars: Kevin Costner,..."
998,301. Nights of Cabiria (1957),Drama,Director: Federico Fellini | Stars: Giulietta ...
999,302. Throne of Blood (1957),"Drama, History",Director: Akira Kurosawa | Stars: Toshir√¥ Mifu...

In [185]:
imdb_df.Cast.info

<bound method Series.info of 0      Director: Frank Darabont | Stars: Tim Robbins,...
1      Director: Francis Ford Coppola | Stars: Marlon...
2      Director: Christopher Nolan | Stars: Christian...
3      Director: Francis Ford Coppola | Stars: Al Pac...
4      Director: Peter Jackson | Stars: Elijah Wood, ...
                             ...
995    Director: Martin Brest | Stars: Al Pacino, Chr...
996    Directors: Ron Clements, John Musker | Stars: ...
997    Director: Oliver Stone | Stars: Kevin Costner,...
998    Director: Federico Fellini | Stars: Giulietta ...
999    Director: Akira Kurosawa | Stars: Toshir√¥ Mifu...
Name: Cast, Length: 1000, dtype: object>

In [186]:
#Genre Analysis
genre_counts=imdb_df['Genre'].value_counts()
print(genre_counts)
highest_genre=genre_counts.idxmax()


print("The movie with highest genre is of:",highest_genre)

Drama                           98
Biography, Drama                46
Drama, Romance                  43
Animation, Adventure, Comedy    34
Crime, Drama                    34
                                ..
Animation, Action, Drama         1
Adventure, Drama, Musical        1
Comedy, Drama, Sci-Fi            1
Comedy, Crime, Romance           1
Adventure, Mystery, Thriller     1
Name: Genre, Length: 130, dtype: int64
The movie with highest genre is of: Drama

In [194]:
#count the types of Certificate
certificate_counts=imdb_df['Certificate'].value_counts()
print(certificate_counts)

R            372
Not Rated    200
PG-13        165
PG           105
Passed        55
Approved      45
G             41
TV-PG          7
TV-MA          7
GP             2
TV-14          1
Name: Certificate, dtype: int64

In [187]:
#Find the longest and shortest duration movie

longest_duration=imdb_df['Duration'].max()
shortest_duration=imdb_df['Duration'].min()
#print(longest_duration)

longest_duration_movie=imdb_df[imdb_df['Duration']==longest_duration]['Title'].values[0]
shortest_duration_movie=imdb_df[imdb_df['Duration']==shortest_duration]['Title'].values[0]
print("The longest duration movie is:",longest_duration_movie)
print("The shortest duration movie is:",shortest_duration_movie)

The longest duration movie is: 104. Reservoir Dogs (1992)
The shortest duration movie is: 241. Finding Nemo (2003)

In [188]:
# which movie performs better audience wise?

highest_rating = imdb_df['Rate'].max()
best_movie = imdb_df.loc[imdb_df['Rate'] == highest_rating, ['Title','Rate']]

# Print the movie with the highest rating
print("Movie which performs  better according to audience is:", best_movie)

Movie which performs  better according to audience is:                                 Title  Rate
0  1. The Shawshank Redemption (1994)   9.3

In [189]:
# which movie performs better gross wise?
highest_gross_votes = imdb_df['Info'].max()
best_movie = imdb_df.loc[imdb_df['Info'] == highest_gross_votes, 'Title'].values[0]

# Print the movie with the highest gross and votes
print("Movie which performs  better according to gross value  is:", best_movie)

Movie which performs  better according to gross value  is: 17. Goodfellas (1990)

In [190]:
#Find the movie title with the director Ford Coppola

ford_coppola_movies = imdb_df[imdb_df['Cast'].str.contains("Ford Coppola")]

ford_coppola_movie_titles = ford_coppola_movies['Title']

# Print the movie titles
print("Movies directed by Ford Coppola:")
for title in ford_coppola_movie_titles:
    print(title)

Movies directed by Ford Coppola:
2. The Godfather (1972)
4. The Godfather: Part II (1974)
74. Apocalypse Now (1979)

In [191]:
#Find the stars of lord of the rings
lord_of_the_rings_stars = imdb_df.loc[imdb_df['Title'].str.contains("The Lord of the Rings"), 'Cast'].values[0]
print("Stars of 'The Lord of the Rings':", lord_of_the_rings_stars)

Stars of 'The Lord of the Rings': Director: Peter Jackson | Stars: Elijah Wood, Viggo Mortensen, Ian McKellen, Orlando Bloom

In [192]:
#Find the movies title with the Star Tom Hanks

Tom_Hanks_movies = imdb_df[imdb_df['Cast'].str.contains("Tom Hanks")]

Tom_Hanks_movie_titles = Tom_Hanks_movies['Title']

# Print the movie titles
print("Movies starred by Tom Hanks:")
for title in Tom_Hanks_movie_titles:
    print(title)

Movies starred by Tom Hanks:
12. Forrest Gump (1994)
24. Saving Private Ryan (1998)
25. The Green Mile (1999)
93. Toy Story 3 (2010)
102. Toy Story (1995)
242. Catch Me If You Can (2002)

In [193]:
#Find the top rated movie  with the Star Tom Hanks

tom_hanks_movies = imdb_df[imdb_df['Cast'].str.contains("Tom Hanks")]

# Sort the movies by rating in descending order
sorted_movies = tom_hanks_movies.sort_values('Rate', ascending=False)

# Get the top-rated movie(s) with Tom Hanks
top_rated_movie = sorted_movies.iloc[0]

# Print the top-rated movie with Tom Hanks
print("Top-rated movie with Tom Hanks:")
print(top_rated_movie[['Title', 'Rate']])

Top-rated movie with Tom Hanks:
Title    12. Forrest Gump (1994)
Rate                         8.8
Name: 11, dtype: object